<h2 class="p-4">users-list works!</h2>

<div *ngIf="loading$ | async" class="alert alert-info" role="alert">
  <p>
    Loading <span><i class="fa fa-sync fa-spin fa-x2"></i></span>
  </p>
</div>

<div *ngIf="error$ | async; else users" class="alert alert-dark" role="alert">
  <p>
    {{ error$ | async }}
  </p>
</div>

<ng-template #users>
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-4 g-4">
      <div class="col" *ngFor="let user of users$ | async">
        <div class="card h-100">
          <img
            class="card-img-top"
            [src]="user.avatar"
            [alt]="user.first_name"
          />
          <div class="card-body">
            <h5 class="card-title" (click)="onGoto(user.id)">
              {{ user.first_name }}
            </h5>
            <p class="card-text">{{ user.last_name }}</p>
            <p class="card-text">{{ user.email }}</p>
            <p class="card-text">
              This is a longer card with supporting text below as a natural
              lead-in to additional content.
            </p>
            <p>#{{ user.id }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
